main {
    height: calc(100vh - 80px);
}

main .leads-container {
    max-width: 1440px;
    height: 100%;
    
    margin: 0 auto;
    padding: 0px 15px;
}

.panel-leads-title {
    margin-top: 80px;
}

.panel-leads-title h1 {
    text-align: center;
}

.new-lead-btn {
    padding: 12px 36px;

    margin: 50px 0px;

    background: var(--blue);
    box-shadow: 0px 5px 5px rgba(23, 23, 23, 0.1);

    border-radius: 6px;
    border: none;

    color: var(--white);
    font-weight: 500;
    font-size: 15px;
    line-height: 17px;

    cursor: pointer;
    
    transition: opacity .4s ease;
}

.new-lead-btn:hover {
    opacity: 0.9;
}

